/* styles.tcss */
Screen {
    /* 3 Spalten: Branch-Tree, Commit-Tabelle, Detail-Panel */
    layout: grid;
    grid-size: 3;
    grid-columns: 20% 40% 40%;
    grid-rows: auto;
}

#branch_tree {
    /* Tree links */
    width: 100%;
}

#data_table {
    /* Tabelle in der Mitte */
    width: 100%;
}

#details {
    /* Detail-Panel rechts */
    border: solid blue;
    padding: 1;
    overflow: auto;
    height: 100%;
}