Screen {
    layout: horizontal;
}

/* Linke Spalte */
#left_column {
    width: 20%;
    height: 100%;
    layout: vertical;
    border: solid grey;
    padding: 1;
    dock: left;
}

/* Tabelle */
#data_table {
    height:50%;
    border: solid green;
}

/* Commit-Details */
#details {
    height: 50%;
    border: solid blue;
    overflow: auto;
}

#plot {
    /* 
    height: 50%;
    dock: bottom;
    border: solid red; 
    */
}

#plot_user_commits {
    height: 50%;
}

#time_series_plot {
    height: 50%;
    border: solid green;
    padding: 1 2;
    color: green;
}

/* Statistik-Header */
#stats_header {
    height: auto;
    padding-top: 1;
    border-top: solid grey;
    color: yellow;
    content-align: left middle;
}

TabPane {
    align-horizontal: center;
}

TabbedContent Tab {
    align-horizontal: center;
    text-align: center;
    width: 50%;
}