Screen {
    layout: horizontal;
}

/* Linke Spalte */
#left_column {
    width: 20%;
    height: 100%;
    layout: vertical;
    border: solid grey;
    padding: 1;
}

/* Tabelle */
#data_table {
    height: 100%;
    border: solid green;
    width: 40%
}

/* Commit-Details */
#details {
    height: 100%;
    border: solid blue;
    padding: 1;
    overflow: auto;
}

/* Statistik-Header */
#stats_header {
    height: auto;
    padding-top: 1;
    border-top: solid grey;
    color: yellow;
    content-align: left middle;
}